*{
    margin:0;
    padding:0;
}

/*=========== sec 1 ============*/
.secindex-1 {
    width:100%;
    height:960px;
    background-color:#fff;
}
.tex-sec1{
    margin-top:10%;
}
.tex-sec1 h1 {
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    color: #000;
    }
.pic-sec1{
    position:absolute;
    margin-left:20%;
    width:80%;
}
.btn-index1 {
    display: inline-block;
    padding: 14px 55px;
    border-radius: 2em;
    background-color: #5A38FD;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    position: absolute;
}
.btn-index1:hover {
    background-color: #3A25A1;
    color: #fff;
    }
@media screen and (min-width:768px) and (max-width:1023px){
    .secindex-1 {
        height: 80vh;
    }
    .tex-sec1 h1 {
        font-size: 38px;
    }
    .pic-sec1 img{
        width:100%;
        margin-left:20%;
    }
}
@media screen and (max-width:767px){
    .secindex-1 {
        height: 80vh;
    }
    .tex-sec1 h1 {
        font-size: 30px;
    }

    .pic-sec1 img {
        width:90%;
        margin-left: 30%;
    }
}
/*===========end===========*/

/*=========== sec 2 ============*/
.secindex-2 {
    width: 100%;
    height: 960px;
    background-color: #5A38FD;
}
.tex-sec2 {
    margin-top: 30%;
}

.tex-sec2 h1 {
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
}
.tex-sec2 p {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
 }
.pic-sec2 {
    position: absolute;
    margin-left: 85%;
    margin-top:30%;
}

.btn-index2 {
    display: inline-block;
    padding: 14px 55px;
    border-radius: 2em;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #5A38FD;
    margin-top: 10px;
    position: absolute;
}

.btn-index2:hover {
    background-color: #F7F7FC;
    color: #5A38FD;
    }

@media screen and (min-width:768px) and (max-width:1023px) {
    .secindex-2 {
        height: 80vh;
    }

    .pic-sec2 img {
        margin-top: 0;
        margin-left: 0;
        width: 150%;
    }
    .tex-sec2 h1 {
        font-size: 38px;
    }
    .tex-sec2 p {
        font-size: 20px;
    }

}

@media screen and (max-width:767px) {
    .secindex-2 {
        height: 80vh;
    }
    .pic-sec2 img {
        margin-top: 0;
        margin-left: 0;
        width: 150%;
    }

    .tex-sec2 h1 {
        font-size: 35px;
    }

    .tex-sec2 p {
        font-size: 16px;
    }
}
/*===========end===========*/

/*=========== sec 3 ============*/
.secindex-3 {
    width: 100%;
    height: 960px;
    background-color: #fff;
}

.tex-sec3 {
    margin-top: 25%;
}

    .tex-sec3 h1 {
        font-size: 45px;
        font-family: 'Kanit', sans-serif;
        color: #000;
    }

    .tex-sec3 p {
        font-size: 28px;
        font-family: 'Kanit', sans-serif;
        color: #000;
    }

.pic-sec3 img {
    margin-top: 30%;
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .secindex-3 {
        height: 80vh;
    }

    .pic-sec3 img {
        position:absolute;
        width:50%;
        
    }

    .tex-sec3 h1 {
        font-size: 38px;
        margin-left:50%;
    }

    .tex-sec3 p {
        font-size: 22px;
        margin-left: 50%;
    }
}

@media screen and (max-width:767px) {
    .secindex-3 {
        height: 80vh;
    }
    .tex-sec3 h1 {
        font-size: 26px;
        margin-left:60%;
        top:0;
    }

    .tex-sec3 p {
        font-size: 18px;
        margin-left: 60%;
    }
    .pic-sec3 img {
        position:absolute;
        width: 50%;
    }
}
/*===========end===========*/

/*=========== sec 4 ============*/
.secindex-4 {
    width: 100%;
    height: 960px;
    background-color: #5A38FD;
}
.tex-sec4 {
    text-align: center;
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    margin-top: 130px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .secindex-4 {
        height: 80vh;
    }

    .pic-sec3 img {
        position: absolute;
        width: 50%;
        top: 5%;
    }

    .tex-sec3 {
        font-size: 38px;
    }
}


@media screen and (max-width:767px) {
    .secindex-4 {
        height: 80vh;
    }

    .tex-sec4 {
        font-size: 26px;
        margin-left: 60%;
        top: 0;
    }


}
/*===========end===========*/


