
<body>
    <style>
        body {
            background-color: #E5E5E5;
        }
    </style>

    <section>
        <div class="cal-sec1">
            <div class="container">
                <div class="text-cal">
                    <h1 class="textbanner">
                        คำนวณดอกเบี้ยเเต่ละธนาคาร
                    </h1>
                    <p>ฝากออมทรัพย์</p>
                </div>
                <div class="row justify-content-md-center">
                    <div class="card-cal">
                        <div class="col-md-auto">
                            <div class="card-body">

                                        <form>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">เงินฝาก</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรอกเงินฝาก">
                                            </div><hr>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">จำนวนเดือน</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="กรอกจำนวนเดือน">
                                            </div>
                                        </form>
                                        <a href="#" class="btn-cal1">คำนวณ</a>
                             </div>
                        </div>
                    </div>
                </div>             
            </div>
         </div>
    </section>
</body>
