
<body>
    <style>
        body {
            background-color: #E5E5E5;
        }
    </style>

    <section>
        <div class="cal-sec1">
            <div class="container">
                <div class="text-cal">
                    <h1 class="textbanner">
                        คำนวณดอกเบี้ยเเต่ละธนาคาร
                    </h1>
                    <p>ฝากออมทรัพย์</p>
                </div>
                <div class="row justify-content-md-center">
                    <div class="card-cal">
                        <div class="col-md-auto">
                            <div class="card-body">

                                <form>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">เงินฝาก</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="กรอกเงินฝาก">
                                    </div><hr>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">จำนวนเดือน</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="กรอกจำนวนเดือน">
                                    </div>
                                </form>
                                <a href="#" class="btn-cal1">คำนวณ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><hr>

    <section class="rank-cal">
        <div class="container">
            <div class="text-cal">
                <h1 class="textbanner">
                    ผลการจัดอันดับ
                </h1>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img class="card-img-top" src="~/img/circlebank1.png" alt="Card image cap">
                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h1 class="card-title">2</h1>
                            <p>ธนาคารไทยพาณิชย์</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <img class="card-img-top" src="~/img/circlebank1.png" alt="Card image cap">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="card-title">1</h1>
                            <p>ธนาคารไทยพาณิชย์</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <img class="card-img-top" src="~/img/circlebank1.png" alt="Card image cap">
                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h1 class="card-title">3</h1>
                            <p>ธนาคารไทยพาณิชย์</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="table-cal">
        <div class="container">
            <div class="text-cal">
                <h1 class="textbanner">
                    ตารางเปรียบเทียบอัตราดอกเบี้ย
                </h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> <img class="card-img-top" src="~/img/bank1.png" alt="Card image cap"></th>
                        <th scope="col"><img class="card-img-top" src="~/img/bank2.png" alt="Card image cap"></th>
                        <th scope="col"><img class="card-img-top" src="~/img/bank3.png" alt="Card image cap"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">เงินต้น</th>
                        <td >Mark</td>
                        <td>Otto</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวนเงินฝาก</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวนดอกเบี้ย</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">ดอกเบี้ย</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th scope="row">จำนวนเงินที่ได้</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>1</td>
                    </tr>
                 
                </tbody>
            </table>

        </div>
    </section>
</body>
