<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
        <body>
            <section>
                <div class="choose-sec1">
                    <div class="container">
                        <div class="text-choose">
                            <h1 class="textbanner">
                                คำนวณดอกเบี้ยเเต่ละธนาคาร
                            </h1>
                            <p>เลือกประเภทเงินฝากที่ท่านต้องการ</p>
                        </div>
                        <div class="card-choose">
                            <div class="row justify-content-md-center p-2">
                                <div class="col-md-auto">
                                    <a class="choose-ink" asp-controller="Home" asp-action="Save" style="text-decoration:none;">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="~/img/Calculated1.png" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text">
                                                    ฝากออมทรัพย์
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-auto">
                                    <a class="choose-ink" asp-controller="Home" asp-action="Fixed" style="text-decoration:none;">
                                        <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="~/img/Calculated1.png" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text">
                                                    ฝากประจำ
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>
