@model ProjectBanking.Models.FixedDeposit

@{
    ViewData["Title"] = "Fixed";
}

<body>
    <section>
        <div class="cal-sec1">
            <div class="container">
                <div style="margin-top:-70px;" class="text-cal">
                    <center>
                        <h2 class="textbanner">
                            คำนวณดอกเบี้ยเเต่ละธนาคาร
                        </h2>
                        <p>ฝากประจำ</p><br />
                    </center>
                </div>

                <form asp-controller="Home" asp-action="CalFixed" method="post" onsubmit="return submitForm(this);">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="margin-top:-70px;" class="row justify-content-md-center">
                        <div style="width:40%; height:76%; border-radius:25px;" class="card-cal">
                            <div class="col-md-auto">
                                <div style="padding:1.3rem;" class="card-body">
                                    <div class="form-group">
                                        <span>เงินฝากต้น </span>
                                        <input class="text-box single-line input-validation-error form-control" style="margin-top:13px" step="0.01" data-val="true" data-val-number=""
                                               data-val-range="กรุณาใส่เงินขั้นต่ำ500บาท" data-val-range-max="1.7976931348623157E+308" data-val-range-min="500"
                                               data-val-required="กรุณาใส่เงินฝาก" id="Fmoney" name="Fmoney" type="number" value="" aria-describedby="Fmoney-error"
                                               aria-invalid="true" placeholder="กรุณาใส่เงินขั้นต่ำ 500 บาท">
                                        <span asp-validation-for="Fmoney" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <span>ระยะฝากต่อเดือน </span>
                                        <input asp-for="Fday" id="Fday" type="radio" name="Fday" value="3" /><span>  3  </span>
                                        <input asp-for="Fday" id="Fday" type="radio" name="Fday" value="6" /><span>  6  </span>
                                        <input asp-for="Fday" id="Fday" type="radio" name="Fday" value="12" /><span>  12  </span>
                                        <span asp-validation-for="Fday" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <span>เงินฝากต่อเดือน </span>
                                        <input class="text-box single-line input-validation-error form-control" style="margin-top:13px;" step="0.01" data-val="true" data-val-number=""
                                               data-val-range="กรุณาใส่เงินขั้นต่ำ500บาท" data-val-range-max="1.7976931348623157E+308" data-val-range-min="500"
                                               data-val-required="กรุณาใส่เงินฝาก" id="Fmonth" name="Fmonth" type="number" value="" aria-describedby="Fmonth-error"
                                               aria-invalid="true" placeholder="กรุณาใส่เงินขั้นต่ำ 500 บาท">
                                        <span asp-validation-for="Fmonth" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <center><input style="border:none;outline:none;" id="cal2" type="submit" class="btn-cal1" value="คำนวณ" /><br /></center>
                </form>
            </div>
        </div>
    </section>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>
