

@model ProjectBanking.Models.FixedDeposit

@{
    ViewData["Title"] = "Fixed";
}

<h1>Fixed</h1>
<div>
    <p>ฝากประจำ</p>

    <form asp-controller="Home" asp-action="CalFixed" method="post">

        <span>เงินฝากต้น: </span><input step="0.01" type="number" name="Fmoney" /><br />
        <span>ระยะฝากต่อเดือน : </span>
        <input id="Fday" type="radio" name="Fday" value="3" /><span>  3  </span>
        <input id="Fday" type="radio" name="Fday" value="6" /><span>  6  </span>
        <input id="Fday" type="radio" name="Fday" value="12" /><span>  12  </span><br />
        <span>อัตราดอกเบี้ย : </span><input step="0.01" type="number" name="Frate" /><br />
        <input id="cal2" type="submit" value="Calculation" /><br />

            <label>Result of SCB is</label><br />
            <label>เงินฝาก : @ViewBag.Earlyfixsaving บาท</label><br />
            <label>ดอกเบี้ยที่ได้ : @ViewBag.Ratefixsaving บาท</label><br />
            <label>เงินที่ได้รับทั้งหมด : @ViewBag.Totalfixsaving บาท</label><br />

    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}