@model ProjectBanking.Models.Customer

@{
    ViewData["Title"] = "Formbank";
}

<h1>Kbank</h1>

<h4>กรอกฟอร์มลงทุนกับธนาคาร</h4><h5>@ViewBag.bank</h5>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Formbank" method="post" enctype="multipart/form-data" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-MM-yy',
            changeMonth: true,
            changeYear: true,
            minDate: new Date(1, 1, 2019),
            maxDate: new Date(1, 1, 2022),
            ShowOn: "both",
            buttonText: "<i class='fa fa-calendar'>"
        });

    });
</script>