@model ProjectBanking.Models.Customer

@{
    ViewData["Title"] = "Formbank";
}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"> <img src="~/img/semicolon-01.png" alt="logo" width="140px" height="40px"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">หน้าหลัก</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="..." id="navbarDropdown_1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        คำนวณดอกเบี้ย
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                        <a class="dropdown-item" href="...">บัญชีออมทรัพย์</a>
                        <a class="dropdown-item" href="...">บัญชีฝากประจำ</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="..." id="navbarDropdown_3"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ธนาคาร
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                        <a class="dropdown-item" href="...">
                            ธนาคารไทยพาณิชย์
                        </a>
                        <a class="dropdown-item" href="...">
                            ธนาคารกสิกรไทย
                        </a>
                        <a class="dropdown-item" href="...">
                            ธนาคารกรุงศรีอยุธยา
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">ข้อมูล</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">เครื่องมือ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">ติดต่อ</a>
                </li>
            </ul>
        </div>

    </nav>
</div>
<h4 class="text-center">กรอกข้อมูลเพื่อสมัครการลงทุน</h4>
<h5>@ViewBag.bank</h5>
<hr />
<div class="card" style="        width: 30%;
        margin-left: 500px;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        border: 3px solid green;">
    <div class="card-body" style="        background-color: aqua;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width:auto;">
        <div class="row" style="">
            <div class="col-md-4">
                <form asp-action="Formbank" method="post" style="" enctype="multipart/form-data" asp-controller="Home">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label id="Select" name="Select" asp-for="BankSelect" class="control-label">ประเภทบัญชี </label>
                        <br />
                        <select asp-for="BankSelect" style="padding-top:5px;padding-top:5px;" class="select-selected">
                            <option value="ออมทรัพย์">ออมทรัพย์</option>
                            <option value="ฝากประจำ">ฝากประจำ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerID" class="control-label">ชื่อบัญชี</label>
                        <input placeholder="ชื่อบัญชี" asp-for="CustomerID" class="form-control" />
                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label">ชื่อ-สกุล</label>
                        <input placeholder="ชื่อ-สกุล" asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerAddress" class="control-label">ที่อยู่</label>
                        <input placeholder="ที่อยู่" asp-for="CustomerAddress" class="form-control" />
                        <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerPhone" class="control-label">เบอร์โทรศัพท์</label>
                        <input placeholder="+66xxxxxxxx" asp-for="CustomerPhone" class="form-control" />
                        <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="form-control date-picker text-box single-line" data-val="true" data-val-required="The CustomerDate field is required." id="CustomerDate" name="CustomerDate" type="date" value="">
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-MM-yy',
            changeMonth: true,
            changeYear: true,
            minDate: new Date(1, 1, 2019),
            maxDate: new Date(1, 1, 2022),
            ShowOn: "both",
            buttonText: "<i class='fa fa-calendar'>"
        });

    });
</script>