@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner_slider">
                        <div class="single_banner_slider">
                            <div class="banner_text">
                                <div class="banner_text_iner">
                                    <h1 class="textbanner">
                                        ให้เราเป็นผู้ช่วยที่ดีที่สุด <br>
                                        ในการหาธนาคารที่เหมาะกับคุณ <br>
                                        ในการลงทุนครั้งนี้ !
                                    </h1>
                                    <a href="https://selectpdf.com/save-as-pdf/">Save as Pdf</a>
                                    <a href="#" class="btn_1">เริ่มเลย !</a>
                                    <div class="sectionpic">
                                        <img src="~/img/Section1.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bank-section2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1 class="textbanner">
                                    เปรียบเทียบดอกเบี้ย <br>
                                    ครบจบที่นี่ที่เดียว
                                </h1>
                                <p>
                                    เพียงเเค่กรอกข้อมูลจำนวนเงินที่ท่านต้องการ <br>
                                    จะลงทุนก็สามารถเช็คดอกเบี้ยของแต่ละ <br>
                                    ธนาคารได้ในรอบเดียว
                                </p>
                                <a href="#" class="btn-sec2">เปรียบเทียบดอกเบี้ย</a>
                                <div class="sectionpic2">
                                    <img src="~/img/Section2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bank-section3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1 class="textbanner">
                                ขั้นตอนการสมัครลงทุน<br>
                                ง่ายกว่าที่คุณคิด
                            </h1>
                            <p>
                                ไม่ต้องเตรียมเอกสารสมัครให้ยุ่งยาก<br>
                                เเค่คุณมีบัตรประชาชนก็สามารถลงทุน<br>
                                กับธนาคารที่สนใจได้เลย
                            </p>
                            <div class="sectionpic3">
                                <img src="~/img/Section3.png">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bank-section4">
            <div class="container">
                <div class="text-sec4">
                    <h1 class="textbanner">
                        เลือกลงทุนกับธนาคารชั้นนำของประเทศ
                    </h1>
                </div>
                <div class="card-sec4">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="~/img/bank1.png" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">
                                        ธนาคารไทยพาณิชย์<br>
                                        (SCB)
                                    </p>
                                    <a href="#" class="btn-sec4">สมัครเลย</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="~/img/bank2.png" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">
                                        ธนาคารกสิกรไทย<br>
                                        (KBANK)
                                    </p>
                                    <a href="#" class="btn-sec4">สมัครเลย</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="~/img/bank3.png" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">
                                        ธนาคารกรุงศรี<br>
                                        (KRUNGSRI)
                                    </p>
                                    <a href="#" class="btn-sec4">สมัครเลย</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bank-section5">
            <div class="container">
                <div class="text-sec5">
                    <h1 class="textbanner">
                        ใช้งานง่ายเเค่ 3 ขั้นตอน
                    </h1>
                </div>
                <div class="card-sec5">
                    <div class="row">
                        <div class="col">
                            <div class="method">
                                <img src="~/img/method1.png">
                            </div>
                            <div class="sectionpic5">
                                <img src="~/img/Section5.png">
                            </div>
                            <p class="card-text5">
                                เลือกธนาคารที่คุณสนใจ<br>
                                จากการเปรียบเทียบ<br>
                                อัตราดอกเบี้ย
                            </p>
                        </div>
                        <div class="col">
                            <div class="method">
                                <img src="~/img/method2.png">
                            </div>
                            <div class="sectionpic5">
                                <img src="~/img/Section5-2.png">
                                <p class="card-text5">
                                    กรอกข้อมูลการสมัคร<br>
                                    พร้อมกับอัพโหลด<br>
                                    รูปบัตรประชาชน
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="method">
                                <img src="~/img/method3.png">
                            </div>
                            <div class="sectionpic5">
                                <img src="~/img/Section5-3.png">
                                <p class="card-text5">
                                    การสมัครเป็นอันเสร็จ<br>
                                    เรียบร้อย
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bank-section6">
            <div class="container">
                <div class="text-sec6">
                    <h1 class="textbanner">
                        ติดต่อพวกเราได้ที่
                    </h1>
                </div>
                <div class="card-sec6">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="~/img/Ellipse 4.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-text">
                                        Nichkamon Promputta
                                    </h5>
                                    <p>Backend Developer</p>
                                    <img src="~/img/facebook.png">
                                    <img src="~/img/instagram.png">
                                    <img src="~/img/google-plus.png">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="~/img/Ellipse 5.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-text">
                                        Songklod Duangkaew
                                    </h5>
                                    <p>Frontend Developer</p>
                                    <img src="~/img/facebook.png">
                                    <img src="~/img/instagram.png">
                                    <img src="~/img/google-plus.png">

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="~/img/Ellipse 6.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-text">
                                        Papitchaya Withaisong
                                    </h5>
                                    <p>Frontend Developer</p>
                                    <img src="~/img/facebook.png">
                                    <img src="~/img/instagram.png">
                                    <img src="~/img/google-plus.png">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="~/img/Ellipse 7.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-text">
                                        Dechit Nanthavadee
                                    </h5>
                                    <p>Backend Developer</p>
                                    <img src="~/img/facebook.png">
                                    <img src="~/img/instagram.png">
                                    <img src="~/img/google-plus.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>
