@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="Home">
    <h1 class="display-4">Welcome project</h1>
</div>

<ul class="menu2">
    <li><a href="#Home">Home</a></li>
    <li><a asp-action="Saving">Saving</a></li>
    <li><a href="#FixedDespositAccount">บัญชีฝากประจำ</a></li>
    <li><a href="#SCB">ธ.ไทยพาณิชย์</a></li>
    <li><a href="#KBank">ธ.กสิกรไทย</a></li>
    <li><a href="#Krungsri">ธ.กรุงศรีอยุธยา</a></li>
    <li><a href="#info">ข้อมูล</a></li>
    <li><a href="#howto">เครื่องมือ</a></li>
    <li><a href="#About">ติดต่อ</a></li>
</ul>
<hr />
<button onclick="topFunction()" id="myBtn" title="Go to top"><ion-icon name="chevron-up-outline"></ion-icon></button>

<div id="info">
    <h3>ข้อมูล</h3>
    <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h1>
</div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>
<hr />
<div id="howto">
    <h3>เครื่องมือ</h3>

</div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>
<hr />

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>
<hr />

