@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="Home">
    <h1 class="display-4">Welcome project</h1>
</div>

<ul class="menu2">
    <li><a href="#Home">หน้าหลัก</a></li>
    <li><a href="#SavingsAccount">บัญชีออมทรัพย์</a></li>
    <li><a href="#FixedDespositAccount">บัญชีฝากประจำ</a></li>
    <li><a href="#SCB">ธ.ไทยพาณิชย์</a></li>
    <li><a href="#Krungsri">ธ.กรุงศรีอยุธยา</a></li>
    <li><a href="#KBank">ธ.กสิกร</a></li>
    <li><a href="#info">ข้อมูล</a></li>
    <li><a href="#howto">เครื่องมือ</a></li>
    <li><a href="#About">ติดต่อ</a></li>
</ul>
<div id="SavingsAccount"><h3>คำนวณอัตราดอกเบี้ยของบัญชีออมทรัพย์</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="FixedDespositAccount"><h3>คำนวณอัตราดอกเบี้ยของบัญชีฝากประจำ</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="SCB"><h3>ลงทุนกับธ.ไทยพาณิชย์</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="Krungsri"><h3>ลงทุนกับธ.กรุงศรีอยุธยา</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="KBank"><h3>ลงทุนกับธ.กสิกร</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="info"><h3>ข้อมูล</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="howto"><h3>เครื่องมือ</h3>
                <p>
                    คู่มือการใช้งานเว็บไซต์ <br />
                    เมื่อต้องการคำนวณอัตราดอกเบี้ย <br />
                    -กดเลือกไปที่หน้าคำนวณ <br />
                    -เลือกประเภทบัญชีที่ต้องการฝาก <br />
                    -กรอกเงินต้นที่ต้องการฝาก <br />
                    -เลือกระยะเวลาในการฝากเงิน (ในกรณีฝากออมทรัพย์ พิมพ์ระยะเวลาเป็นเดือนที่ต้องการฝากได้เลย) <br />
                    -กรอกจำนวนเงินที่ต้องการฝากต่อเดือน <br />
                    -กดคำนวณ <br />
                    หากต้องการลงทุน <br />
                    -กดเลือกไปที่การลงทุน <br />
                    -เลือกธนาคารที่ต้องการฝาก <br />
                    -เลือกประเภทบัญชีเงินฝาก <br />
                    -กรอกข้อมูลส่วนตัวให้ครบ <br />
                    -กด  submit และจะได้ไฟล์ pdf สามารถปริ้นและไปที่ธนาคารได้เลย <br />
                </p>
    </div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

<div id="About"><h3>ติดต่อ</h3></div>

<ul class="menu2">

    <li><a href="#Home">กลับไปที่หน้าหลัก</a></li>

</ul>

