@model ProjectBanking.Models.Savings
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<body>
    <style>
        body {
            background-color: #E5E5E5;
        }
    </style>

    <section>
        <div class="cal-sec1">
            <div class="container">
                <div style="margin-top:-70px;" class="text-cal">
                    <center>
                        <h2 class="textbanner">
                            คำนวณดอกเบี้ยเเต่ละธนาคาร
                        </h2>
                        <p>ฝากออมทรัพย์</p>
                    </center>
                    <br />
                </div>
                <form asp-controller="Home" asp-action="CalSaving" method="post" enctype="multipart/form-data" onsubmit="return submitForm(this);">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="margin-top:-70px;" class="row justify-content-md-center">
                        <div style="width:40%; height:55%; border-radius:25px;" class="card-cal">
                            <div class="col-md-auto">
                                <div style="padding:1.3rem;" class="card-body">


                                    <div class="form-group">
                                        <span>เงินฝากต้น </span>
                                        <input class="text-box single-line input-validation-error form-control" style="margin-top:13px;" step="0.01" data-val="true" data-val-number=""
                                               data-val-range="กรุณาใส่เงินขั้นต่ำ500บาท" data-val-range-max="1.7976931348623157E+308" data-val-range-min="500"
                                               data-val-required="กรุณาใส่เงินฝาก" id="Smoney" name="Smoney" type="number" value="" aria-describedby="Smoney-error"
                                               aria-invalid="true" placeholder="เงินฝากขั้นต่ำ 500 บาท">
                                        <span asp-validation-for="Smoney" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <span>ระยะฝาก  </span>
                                        <input type="number" name="Sday" placeholder="สูงสุด 12 เดือน" style="margin-top:13px;" data-val="true" data-val-number="จำนวนเดือนต้องเป็นตัวเลขเท่านั้น."
                                               data-val-range="กรุณาใส่ไม่เกิน12เดือน" data-val-range-max="12" data-val-range-min="1" step="1" data-val-required="กรุณาใส่จำนวนเดือน" id="Sday"
                                               value="" class="input-validation-error form-control" aria-describedby="Sday-error" aria-invalid="true">
                                        <span asp-validation-for="Sday" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center><input id="calculation" style="border:none; outline:none;" type="submit" class="btn-cal1" value="คำนวณ" /><br /></center>
                </form>
            </div>
        </div>
    </section>

    
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}